@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');

.Menubg{
  
  background-color: orange;
  
}

.Menu1{
  font-family: 'Sarabun';
  color: aliceblue;
  text-decoration: none;

}
.Menu2{
  font-family: 'Sarabun';
  color: aliceblue;
  text-decoration: none;

}

.Menu3{
  font-family: 'Sarabun';
  color: aliceblue;
  text-decoration: none;

}
